<% include layout/header %>

    <div class="container">
      <div class="jumbotron text-center mt-2">
        <h1 class="display-3 text-info">Sửa dữ liệu</h1>
        
        <p class="lead">
            Mẫu tin có tên 
        </p>        
        <% data.forEach(function(item) { %>
        <h3 class="font-weight-bold"><%= item.ten %></h3>
      </div>

      <form action="/sua/<%= item._id %>" method="post">
        
        <div class="form-group">
          <label for="">Tên</label>
          <input type="text" name="ten" id="" class="form-control" value="<%= item.ten %>" placeholder="Nhập tên">
        </div>
        <div class="form-group">
          <label for="">Số điện thoại</label>
          <input type="text" name="sdt" id="" class="form-control" placeholder="Nhập số điện thoại" value="<%= item.sdt %>">
        </div>
        <button type="submit" class="btn btn-primary">Cập nhật</button> 
        <a name="" id="" class="btn btn-link" href="/trang-chu" role="button">Hủy bỏ</a>        
      </form>
      <% }) %>
    </div>

<% include layout/footer %>
