<% include layout/header %>

    <div class="container">
      <div class="jumbotron text-center mt-2">
        <h1 class="display-3 text-info">Thêm mới dữ liệu</h1>
        <p class="lead">
            vào MongoDB
        </p>        
      </div>

      <form action="/them" method="post">
        <div class="form-group">
          <label for="">Tên</label>
          <input type="text" name="ten" id="" class="form-control" placeholder="Nhập tên" aria-describedby="helpId">
        </div>
        <div class="form-group">
          <label for="">Số điện thoại</label>
          <input type="text" name="sdt" id="" class="form-control" placeholder="Nhập số điện thoại" aria-describedby="helpId">
        </div>
        <button type="submit" class="btn btn-primary">Thêm mới</button> 
        <a name="" id="" class="btn btn-link" href="/trang-chu" role="button">Hủy bỏ</a>
      </form>
    </div>
   
<% include layout/footer %>
