<% include layout/header %>

      <div class="container mt-2">      
          <div class="jumbotron">
              <h1 class="display-3">Danh sách</h1>              
              <hr class="my-2">              
          </div>   

        <div class="form-group">
            <a name="them" id="" class="btn btn-primary" href="/them" role="button">Thêm mới</a>  
        </div>
                
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th>Tên</th>
                      <th>Số điện thoại</th>
                      <th>Tác vụ</th>
                  </tr>
              </thead>
              <tbody>
                <% dulieu.forEach(function(item) { %>
                  <tr>
                      <td scope="row"><%= item.ten %></td>
                      <td><%= item.sdt %></td>
                      <td>
                        <a href="/sua/<%= item._id %>" class="btn btn-link"> 
                          <i class="fa fa-edit text-primary" style="font-size:20px;"></i>
                        </a> | 
                        <a href="/xoa/<%= item._id %>" class="btn btn-link" onclick="return DeleteAlert('Bạn có chắc muốn xóa mẫu tin?');"> 
                          <i class="fa fa-trash text-danger" style="font-size:20px;"></i>
                        </a>
                      </td> 
                  </tr>
                  
                <% }) %>
                
              </tbody>
          </table>
      </div>

    <script>
      function DeleteAlert(msg) {
        if(window.confirm(msg)==true) {
          return true;
        }
        return false;
      }
    </script>
    
<% include layout/footer %>
